/*******************************
RESET
*******************************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*******************************
GENERAL
*******************************/
html {
  height: 100%;
}

body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #005200;
  height: 100%;
}

#page-home {
  background-image: url('../images/pnwm6.jpg');
}

#page-about {
  background-image: url('../images/pnwm5.jpg');
  width: 100%;
}

#page-services {
  background-image: url('../images/pnwm8.jpg');
}

#page-contact {
  background-image: url('../images/pnwm1.jpg');
}

h3 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.4em;
  margin: 0 auto 10px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.2em;
}

#wrapper {
  min-height: 100%;
  margin: 0 auto -155px;
}

#wrapper:after {
  content: '';
  display: block;
  height: 155px;
  width: 100%;
}

#content {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px auto 50px;
  max-width: 800px;
  overflow: hidden;
  padding: 50px;
  text-align: center;
}

.service {
  display: inline-block;
  float: left;
  margin: 20px;
  text-align: left;
  width: 40%;
}

.guarantee {
  display: inline-block;
  float: right;
  margin: 20px;
  text-align: left;
  width: 40%;

}

.liscenced {
  clear: both;
  margin: 40px auto;
  padding: 30px 0 0 0;
}

.on-time {
  padding: 20px;
  display: inline-block;
  float: left;
  width: 40%;
}

.on-budget {
  padding: 20px;
  display: inline-block;
  float: right;
  width: 40%;
}

.return-inquiries {
  clear: both;
  display: block;
  margin: 5px auto;
}

.email {
  padding-top: 30px;
}

aside {
  clear: both;
  margin-top: 15px;
  text-align: left;
}

aside h3 {
  text-align: center;
}

aside p {
  padding: 4px;
}

.column-one {
  float: left;
  text-align: left;
  width: 40%;
}

.column-two {
  float: right;
  text-align: left;
  width: 40%;
}

.column-one p,
.column-two p {
  padding-bottom: 10px;
}


/*******************************
HEADER
*******************************/

header {
  background-color: rgba(0, 0, 78, 0.5);
  width: 100%;
}

h1 {
  color: #fff;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 2.5em;
  padding: 5px;
  text-shadow: 1px 1px #000;
}

h2 {
  color: #fff;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.2em;
  margin: 20px auto 20px 100px;
}

nav {
  background-color: rgba(0, 0, 102, 0.5);
  width: 100%;
  padding: 4px 0;
}

nav ul {
  list-style: none;
  color: #fff;
  margin: 10px auto;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li:hover {
  border-bottom: solid white;
  border-radius: 4px;
}

nav li a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: 'Nothing You Could Do', cursive;
  margin: 2px 20px;
}


/*******************************
FOOTER
*******************************/
footer {
  background-color: rgba(25, 74, 29, 0.7);
  height: 155px;
  width: 100%;
  text-align: center;
}

footer ul {
  list-style: none;
  margin: 5px auto;
}

footer li {
  display: block;
}

footer li a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 5px 20px;
  display: inline-block;
}

footer i {
  color: #fff;
}

footer h3 {
  padding: 5px 0;
  color: #fff;
}

.copyright {
  font-size: .5em;
  color: #ddd;
}







